%main-section {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 80px;
  @include responsive("phone") {
    grid-template-columns: 1fr;
  }
  .main__section__img {
    img {
      width: 100%;
    }
  }
  .main__section__content {
    background-color: #fbf7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5rem;
    @include responsive("phone") {
      padding: 5rem;
    }
    .main__section__subtext {
      margin-bottom: 40px;
      font-size: 11px;
    }
    .main__section__text {
      line-height: 1.5;
      font-size: 30px;
      font-family: "Antic Didone", serif;
      color: rgba(0, 0, 0, 0.8);
      @include responsive("phone") {
        font-size: 25px;
      }
    }
    .main__section__button {
      border: 2px solid rgba(0, 0, 0, 0.4);
      width: 80%;
      height: 65px;
      font-size: 10px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      margin-top: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease-in-out all;
      &:hover {
        background-color: #414141;
        color: white;
      }
    }
    #secButton {
      justify-content: space-between;
      div:first-child {
        padding-left: 25px;
      }
      div:last-child {
        display: flex;
        align-items: center;
        border-left: 2px solid rgba(0, 0, 0, 0.4);
        height: 100%;
        padding: 0 20px;
      }
    }
  }
}
