$wideWidth: 80%;
$middleWidth: 90%;
$phoneWidth: 100%;
$headerFont: "Julius Sans One", sans-serif;
$homeFont: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$contentFont: "Antic Didone", serif;
