@import "reset";

@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Julius+Sans+One&display=swap");

@import "_variables.scss";
@import "_mixins.scss";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-space {
  height: 8rem;
  width: $wideWidth;
  background-color: white;
}
.header {
  transition: height 0.1s;
  position: fixed;
  top: 0;
  @include responsive("winWide") {
    width: $middleWidth;
  }
  @include responsive("phone") {
    width: 100vw;
    padding: 7%;
  }
  width: $wideWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  font-family: $headerFont;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  .header__nav__menu {
    width: 33%;
    #header__toggle {
      display: none;
    }
    @include responsive("phone") {
      li {
        display: none;
      }
      #header__toggle {
        display: block;
      }
    }
    ul {
      display: flex;
      li {
        margin-right: 50px;
      }
    }
  }
  .header__home-icon {
    width: 33%;
    display: flex;
    justify-content: center;
    font-family: $homeFont;
    transition: transform 0.4s ease;
    .header__home__column {
      font-size: 14px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      span {
        margin: 0 6px;
      }
    }
  }
  .header__cart {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    a {
      margin-left: 30px;
    }
    @include responsive("phone") {
      a:first-child {
        display: none;
      }
    }
  }
}

.fixed {
  height: 10%;
  background-color: white;
  z-index: 10000;
  @include responsive("phone") {
    width: 100vw;
    height: 3rem;
    padding: 7%;
  }
  .header__home-icon {
    transform: scale(0.7);
  }
}

main {
  @include responsive("winWide") {
    width: $middleWidth;
  }
  @include responsive("phone") {
    width: $phoneWidth;
  }
  margin-top: 30px;
  display: grid;
  width: $wideWidth;
  .main__section {
    @extend %main-section;
  }
  .main__section__three {
    margin-top: 10%;
    @include responsive("minimize") {
      margin-top: 50px;
    }
    background-color: #dee8e9;
    .main__section__content {
      background-color: #dee8e9;
    }
  }

  .main__section__four {
    margin-bottom: 0;
  }
  #main__section__four--two {
    @include responsive("phone") {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .main__the-shop {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    .main__the-shop__title {
      font-size: 11px;
      letter-spacing: 2px;
    }
    .main__the-shop__text {
      font-family: $contentFont;
      font-size: 30px;
      margin-top: 25px;
    }
  }

  .main__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .main__product {
      display: flex;
      flex-direction: column;
      align-items: center;
      .main__product__img {
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: relative;
        img {
          width: 100%;
          @include responsive("minimize") {
            width: 70vw;
          }
          &:first-child {
            transition: all 0.5s ease-in-out;
          }
          &:last-child {
            position: absolute;
            transition: all 0.5s ease-in-out;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }
      }
      .main__product__info {
        text-align: center;
        cursor: pointer;
        .main__product__type {
          font-size: 10px;
          letter-spacing: 1.5px;
          span {
            margin: 0 8px;
            &:not(:first-child) {
              color: #d1a764;
            }
            &:nth-child(2) {
              opacity: 0.4;
            }
          }
        }
        .main__product__name {
          margin-top: 10px;
          font-family: $contentFont;
          font-size: 25px;
          font-style: italic;
        }
        .main__product__price {
          margin-top: 23px;
          font-size: 12px;
          opacity: 0.5;
        }
      }
      .main__product__button {
        margin-top: 30px;
        margin-bottom: 50px;
        width: 70%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        font-size: 11px;
        color: rgba(0, 0, 0, 0.8);
        padding: 18px 0;
        transition: 0.2s ease-in-out all;
        cursor: pointer;
        &:hover {
          background-color: #414141;
          color: white;
        }
      }
      &:hover img:first-child {
        opacity: 0;
      }
      &:hover img:last-child {
        opacity: 1;
      }
    }
    @include responsive("minimize") {
      position: relative;
      .main__product {
        transition: all 0.3s ease-in-out;
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
      }
      .showing {
        z-index: 2;
        background-color: white;
        opacity: 1;
      }
    }
  }

  @include responsive("minimize") {
    #main__the-shop__Nail__text {
      width: 80%;
      text-align: center;
      line-height: 1.3;
      font-size: 25px;
    }
  }
  .main__products__nail {
    width: 55%;
    margin: 80px auto;
    display: flex;
    @include responsive("phone") {
      width: 100%;
    }
    @include responsive("minimize") {
      position: relative;
      margin-bottom: 50%;
      width: 50%;
    }

    .main__product__nail {
      position: relative;
      width: 100%;
      padding: 0 30px;
      cursor: pointer;
      @include responsive("minimize") {
        position: absolute;
        width: 80%;
        top: 0;
        left: 0;
        transform: translatex(13%);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      .main__product__nail__img {
        img {
          margin-bottom: 30px;
          width: 100px;
        }
        @include responsive("phone") {
          display: flex;
          justify-content: center;
          img {
            width: 75%;
          }
        }
      }
    }
    .showingNail {
      z-index: 2;
      background-color: white;
      opacity: 1;
    }
    .main__product__nail:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-right: 1px solid black;
      opacity: 0.4;
      @include responsive("minimize") {
        display: none;
      }
    }
    .main__product__nail__info {
      font-size: 12px;
      opacity: 0.7;
      text-align: center;
    }
  }

  .main__product__nail__button {
    margin: 30px auto 80px auto;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 11px;
    color: rgba(0, 0, 0, 0.8);
    padding: 18px 0;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    &:hover {
      background-color: #414141;
      color: white;
    }
  }
}

@include responsive("minimize") {
  .controls {
    display: block;
    width: 80px;
    margin: 140% auto 50px auto;
    z-index: 100;
    .control__list {
      display: flex;
      justify-content: space-between;
      .control__item {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.8);
        cursor: pointer;
      }
    }
  }

  .controls-nail {
    display: block;
    width: 150px;
    margin: 0 auto;
    .control-nail__list {
      display: flex;
      justify-content: space-between;
      .control-nail__item {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.8);
        cursor: pointer;
      }
    }
  }

  .paintBtn {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
#main__the-shop__last {
  margin-top: 100px;
  margin-bottom: 50px;
}
.email {
  margin: 0 auto 100px auto;
  height: 80px;
  width: 80%;
  display: flex;
  justify-content: center;
  input {
    position: relative;
    width: 100%;
    border-style: none;
    border-bottom: 1px solid black;
    font-size: 30px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  span {
    position: absolute;

    left: 0;
  }
}
